{% extends "base.html" %}
{% load static %}
{% block title %}Marketplace | FreshFarm Connect{% endblock %}

{% block content %}
<section class="shop-section">
    <h2>Marketplace</h2>
    <p class="p" style="text-align: center;">Search products and place your order here....</p>
      <!-- Search and Filters -->
  <div class="top-bar" style="position: relative; max-width: 400px;">
    <input type="text" placeholder="Search products..." style="padding-left: 30px; width: 100%;">
    <i class="fas fa-search" style="position: absolute; left: 10px; top: 50%; transform: translateY(-50%); color: gray;"></i>
    <div class="filters">
      
            <select class="select" style="max-width: 1000px">
              <option value="">All Categories</option>
              <option value="vegetables">Vegetables</option>
              <option value="fruits">Fruits</option>
              <option value="grains">Grains</option>
              <option value="dairy">Dairy</option>
              <option value="poultry">Poultry</option>
            </select>
      
            <select>
              <option value="">Sort By</option>
              <option value="price-low">Price: Low to High</option>
              <option value="price-high">Price: High to Low</option>
              <option value="price-high">Availability</option>
              <option value="price-high">Top Rated</option>
            </select>
          </div>
        </div>
    </div>
</section>
   <section class="product-grid-section">
   <!-- Product Grid -->
    <!-- Fruits -->
    <div class="category-group">
      <h2>Fruits</h2>
      <div class="product-grid">
        <div class="product-card">
          <img src="{% static 'images/strawberry.jpeg' %}" alt="Strawberry">
          <h3>Strawberry</h3>
          <p class="price">KES 375 / pack</p>
          <button>Add to Cart</button>
        </div>
        <div class="product-card">
          <img src="{% static 'images/mango.jpeg' %}" alt="Mangoes">
          <h4>Mangoes</h4>
          <p>KES 180 / 1kg</p>
          <button>Add to Cart</button>
        </div>
        <div class="product-card">
          <img src="{% static 'images/avocado.jpeg' %}" alt="Avocado">
          <h3>Avocado</h3>
          <p class="price">KES 220 / kg</p>
          <button>Add to Cart</button>
        </div>
        <div class="product-card">
          <img src="{% static 'images/pineaple.jpeg' %}" alt="Pineaple">
          <h3>Pineaple</h3>
          <p class="price">KES 100 / piece</p>
          <button>Add to Cart</button>
        </div>
        <div class="product-card">
          <img src="{% static 'images/grapes.jpeg' %}" alt="Grapes">
          <h3>Grapes</h3>
          <p class="price">KES 550 / kg</p>
          <button>Add to Cart</button>
        </div>
        <div class="product-card">
          <img src="{% static 'images/sweet-bananas.jpg' %}" alt="Sweet Bananas">
          <h3>Sweet Bananas</h3>
          <p class="price">KES 130 / bunch</p>
          <button>Add to Cart</button>
        </div>
        <div class="product-card">
          <img src="{% static 'images/apples.jpeg' %}" alt="Apples">
          <h3>Apples</h3>
          <p class="price">KES 130 / bunch</p>
          <button>Add to Cart</button>
        </div>
        <div class="product-card">
          <img src="{% static 'images/orange.jpeg' %}" alt="Orange">
          <h3>Oranges</h3>
          <p class="price">KES 210 / kg</p>
          <button>Add to Cart</button>
        </div>
      </div>
    </div>
  
    <!-- Vegetables -->
    <div class="category-group">
      <h2>Vegetables</h2>
      <div class="product-grid">
        <div class="product-card">
          <img src="{% static 'images/tomatos.jpeg' %}" alt="Tomatoes">
          <h4>Tomatoes</h4>
          <p>KES 130 / kg</p>
          <button>Add to Cart</button>
        </div>
        <div class="product-card">
          <img src="{% static 'images/Irish-potatos.jpeg' %}" alt="Irish-potatoes">
          <h3>Irish-potatoes</h3>
          <p class="price">KES 100 / kg</p>
          <button>Add to Cart</button>
        </div>
        <div class="product-card">
          <img src="{% static 'images/broccoli.jpeg' %}" alt="Broccoli">
          <h3>Broccoli</h3>
          <p class="price">KES 200 / kg</p>
          <button>Add to Cart</button>
        </div>
        <div class="product-card">
          <img src="{% static 'images/cabbage.jpeg' %}" alt="Cabbage">
          <h3>Cabbage</h3>
          <p class="price">KES 80 / piece</p>
          <button>Add to Cart</button>
        </div>
        <div class="product-card">
          <img src="{% static 'images/carrot.jpeg' %}" alt="Carrot">
          <h3>Carrots</h3>
          <p class="price">KES 100 / kg</p>
          <button>Add to Cart</button>
        </div>
        <div class="product-card">
          <img src="{% static 'images/cauliflower.jpeg' %}" alt="Cauliflower">
          <h3>Cauliflower</h3>
          <p class="price">KES 180 / kg</p>
          <button>Add to Cart</button>
        </div>
        <div class="product-card">
          <img src="{% static 'images/sweet-potatoes.jpeg' %}" alt="Sweet-potatoes">
          <h3>Sweet-potatoes</h3>
          <p class="price">KES 50 / kg</p>
          <button>Add to Cart</button>
        </div>
        <div class="product-card">
          <img src="{% static 'images/bale pepper.jpeg' %}" alt="Bale pepper">
          <h3>Bale pepper</h3>
          <p class="price">KES 100 / kg</p>
          <button>Add to Cart</button>
        </div>
    
      </div>
    </div>
  
    <!-- Grains -->
    <div class="category-group">
      <h2>Grains</h2>
      <div class="product-grid">
        <div class="product-card">
          <img src="{% static 'images/maize.jpeg' %}" alt="Maize">
          <h4>Maize</h4>
          <p>KES 20 / piece</p>
          <button>Add to Cart</button>
        </div>
        <div class="product-card">
          <img src="{% static 'images/rice.jpeg' %}" alt="Rice">
          <h4>Rice</h4>
          <p>KES 150 / kg</p>
          <button>Add to Cart</button>
        </div>
        <div class="product-card">
          <img src="{% static 'images/groundnuts.jpeg' %}" alt="Groundnuts">
          <h3>Groundnuts</h3>
          <p class="price">KES 200 / 2kg</p>
          <button>Add to Cart</button>
        </div>
        <div class="product-card">
          <img src="{% static 'images/rice.jpeg' %}" alt="Rice">
          <h4>Rice</h4>
          <p>KES 150 / kg</p>
          <button>Add to Cart</button>
        </div>
        
      </div>
    </div>
  
    <!-- Dairy -->
    <div class="category-group">
      <h2>Others</h2>
      <div class="product-grid">
        <div class="product-card">
          <img src="{% static 'images/milk.jpeg' %}" alt="Milk">
          <h4>Fresh Milk</h4>
          <p>KES 60 / liter</p>
          <button>Add to Cart</button>
        </div>
        <div class="product-card">
          <img src="{% static 'images/eggs.jpeg' %}" alt="Eggs">
          <h3>Eggs</h3>
          <p class="price">KES 100 / 2kg</p>
          <button>Add to Cart</button>
        </div>
         <div class="product-card">
          <img src="{% static 'images/poultry.jpeg' %}" alt="Poultry">
          <h3>Chicken</h3>
          <p class="price">KES 600 / item</p>
          <button>Add to Cart</button>
        </div>
        <div class="product-card">
          <img src="{% static 'images/veges2.jpeg' %}" alt="Vegetables">
          <h3>Vegetables</h3>
          <p class="price">KES 100 / kg</p>
          <button>Add to Cart</button>
        </div>
      </div>
    </div>
  </section>

  <!-- Pagination -->
  <div class="pagination">
    <button class="page-btn">Prev</button>
    <button class="page-btn active">1</button>
    <button class="page-btn">2</button>
    <button class="page-btn">3</button>
    <button class="page-btn">Next</button>
  </div>


{% endblock %}